#root {
  background-color: white;
}

.page-container-show {
  width: 80%;
  margin: 20px;
  background-color: white;
  border: 1px solid #dfdfe8;
}

.page-container-show > * {
  width: 100%;
  border-bottom: 1px solid #dfdfe8;
}

.page-container-show * {
  display: flex;
}

.ride-show-header {
  background: #f7f7fa;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dfdfe8;
  padding: 9px 20px;
  margin: 0;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.page-container-show i {
  color: black;
}

.ride-show-main {
  height: 230px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ride-show-map {
  height: 400px;
}

.ride-show-elevation {
  height: 170px;
}

.show-main-box {
  display: flex;
  width: 50%;
  border-left: 1px solid #dfdfe8;
  align-items: center;
  padding: 10px;
}

.profile-image-container {
  display: flex;
  justify-content: center;
}

.show-main-text-img {
  display: flex;
  flex-direction: column;
}

.show-main-text {
  display: flex;
  flex-direction: column;
}

.show-main-img {
  display: flex;
  flex-direction: row;
}

.profile-show-image {
  border-radius: 50%;
  object-fit: cover;
  height: 100px;
  width: 100px;
}

.small-square-image-box {
  width: 70px;
  height: 70px;
  background-color: aquamarine;
  margin: 5px;
}