/* body, #root {
background-color:
} */

.page-container-dash {
  padding: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f7f7fa;
  width: 100%;
}

.page-container-dash > * {
  margin: 30px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 8px 24px rgb(13 13 18 / 4%);
	box-shadow: 0 8px 24px rgb(13 13 18 / 4%);
	margin-bottom: 12px;
}

.profile-top {
  display: inline-block;
}

.profile-column {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-column > * {
  width: 100%;
  padding-top: 24px;
  margin-top: 64px;
}

#ride-index {
  width: 50%;
  display: flex;
  flex-direction: column;
}

/* .announcements-column {
  width: 2%;
  display: flex;
} */

.feed-card {
	background-color: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 8px 24px rgb(13 13 18 / 4%);
	box-shadow: 0 8px 24px rgb(13 13 18 / 4%);
	margin-bottom: 12px;
	position: relative;
	padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feed-card * {
  margin: 0;
  padding: 0;
}

.card-header {
  display: flex;
  justify-content: start;
}

.card-body-main {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.map-container {
  width: 100%;
  padding: 5px;
  height: 400px;
}

.photo-container {
  width: 100%;
  padding: 5px;
  height: 250px;
  display: flex;
}

.secondary-photos {
  /* width: 70px; */
  height: 70px;
  padding: 4px;
}

.profile-image {
	border-radius: 50%;
	background-color: aqua;
	height: 120px;
	width: 120px;
	object-fit: cover;
  position: relative;
  bottom: 80px;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 40px;
}

.profile-stats-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}

.profile-tab {
  text-align: center;
}

.profile-num {
  text-align: center;
}

.feed-header {
  margin-top: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 64px;
}

.page-container-dash a {
  color: black;
}

.page-container-dash a:hover {
  color: black;
  text-decoration: none;
}

.map-container img {
  width: 100%;
}