body, #root {
background-color: #f7f7fa;
}
.page-container-dash {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
}

.page-container-dash > * {
  margin: 15px;
}

.profile-column {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.profile-column > * {
  width: 100%;
}

#ride-index {
  width: 50%;
  display: flex;
  flex-direction: column;
}

/* .announcements-column {
  width: 2%;
  display: flex;
} */

.feed-card {
	background-color: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 8px 24px rgb(13 13 18 / 4%);
	box-shadow: 0 8px 24px rgb(13 13 18 / 4%);
	margin-bottom: 12px;
	position: relative;
	padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feed-card * {
  margin: 0;
  padding: 0;
}

.card-header {
  display: flex;
  justify-content: start;
}

.card-body-main {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.map-container {
  width: 100%;
  padding: 5px;
  height: 250px;
}

.photo-container {
  width: 100%;
  padding: 5px;
  height: 250px;
  display: flex;
}

.secondary-photos {
  /* width: 70px; */
  height: 70px;
  padding: 4px;
}

.profile-image {
	border-radius: 50%;
	background-color: aqua;
	height: 90px;
	width: 90px;
	object-fit: cover;
}