.comment-profile-pic {
  border-radius: 50%;
  height: 24px;
  width: 24px;
}

.ride-comment-item {
  width: 100%;
  display:flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.comment-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comments-field {
  width: 100%;
  margin-top: 20px;
}

.comment-item-left {
  display: flex;
  flex-direction: row;
}

.comment-profile-pic-box {
  margin-right: 10px;
}

.ride-comment-item p {
  margin: 0;
}

.strong {
  font-weight: 600;
}

.comment-form-container {
  display: flex;  
  width: 100%;
}

.comment-form {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
  width: 100%;
  justify-content: space-between;
}

.comment-text-area {
  background-color: #f7f7fa;
  letter-spacing: inherit;
  height: 60px;
  overflow: auto;
  border: 1px solid transparent;
  color: #000;
  height: 100%;
  line-height: 1.5em;
  min-height: 50px;
  padding: 6px 4px 4px;
  resize: none;
  min-width: 200px;
  border-radius: 2px;
  margin: 0;
  text-align: left;
  width: 100%;
}

.update-comment-container {
  display: flex;
  align-items: center;
};

.post-button {
  margin: 0 10px;
}


.comment-text-label {
  width: 80%;
}

.comment-text-area:focus {
  border: 1px solid transparent;
}

.post-button-inactive {
  background-color: transparent;
  border: none;
  color: #dfdfe8;
  font-size: 14px;
  font-weight: 600;
  margin-left: 15px;
}

.post-button-inactive:hover {
  background-color: transparent;
  border: none;
  color: #dfdfe8;
  font-size: 14px;
  font-weight: 600;
  margin-left: 15px;
  cursor: default;
}

.post-button {
  background-color: transparent;
  border: none;
  color: #fc5200;
  font-size: 14px;
  font-weight: 600;
  margin-left: 15px;
}

.post-button:hover {
  background-color: rgba(252,82,0,.1);
  color: #fc5200;
}

.mod-comment-button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: #1c87c9;
  float: right;
  margin-left: 8px;
}

.mod-comment-button:hover {
  padding: 0;
  background-color: transparent;
  border: none;
  color: #fc5200;
}