@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.cdnfonts.com/css/maison-neue');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0px;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
  font-family: 'Maison Neue', 'Lato', sans-serif;
	box-sizing: border-box;
}

::selection {
	background-color: #fc5200;
}

body {
	font-size: 14px;
	line-height: 18px;
	min-height: 100vh;
	display: flex;
	flex-flow: column;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-flow: column;
	align-items: center;
}

@keyframes spinner {
	0% {
		transform: translate3d(-50%, -50%, 0) rotate(0deg);
	}
	100% {
		transform: translate3d(-50%, -50%, 0) rotate(360deg);
	}
}


.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 40px;
  will-change: transform;
}

.relative-button {
	position: relative;
}

footer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.footer-box {
	margin: 0 20px;
}

.footer-box i {
	font-size: 30px;
}

.footer-icon {
	color: #fc5200;
	margin: 0 20px;
}

element {
  --strava-orange: #fc5200;
  --warm-gray: #949494;
	--cool-gray: #dfdfe8;
}

button {
	background-color: #fc5200;
	border-radius: 4px;
	border: 2px solid #fc5200;
	color: white;
	font-size: 12px;
	padding: 6px 16px;
	height: auto;
}

.clear-button {
	background-color: transparent;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: none;
	color: black;

}


#root {
	width: 100%;
}

.splash-background {
	width: 100%;
	height: calc(100vh - 110px);
  min-height: 690px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/man-and-young-woman-training-sprinting-on-coast-royalty-free-image-665480985-1543434199.jpg);
	background-size: cover;
}

h1 {
	font-size: 34px;
	font-weight: 500;
	line-height: 41px;
	padding: 20px;
	word-break: break-word;
}

p {
	font-size: 12px;
	font-weight: 100;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 300;
}

a {
	color: white;
	text-decoration: none;
}

li {
	list-style: none;
}

button {
	cursor: pointer;
}

button:hover {
	background-color: #cc4200;
	border-color: #cc4200;
}

.avatar-image {
	border-radius: 50%;
	height: 32px;
	width: 32px;
	object-fit: cover;
}

#disclaimer {
  width: 200px;
	display: inline-block;
}

h2, h3 {
	font-size: 22px;
	line-height: 28px;
	font-weight: 600;
}

.dropdown {
	background: transparent;
	border-top: none;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid transparent;
	transition: none;
}

.inline-inputs input, textarea{
	background-color: white;
  border: 1px solid #dfdfe8;
  border-radius: 0;
  color: black;
  font-size: 15px;
  margin-top: 16px;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 100px;
}

textarea {
	width: 250px;
}

/* .profile-drop-down ul {
	border: 1px solid #dfdfe8;
	background-color: #fff;
	position: absolute;
	top: 38px;
	right: 0px
} */

.dropdown-list {
	display: block;
	min-width: 160px;
  top: 54px;
	left: unset !important;
	right: -1px !important;
	background-color: #fff;
	position: absolute;
	max-height: 445px;
	top: 100%;
	border: 1px solid #dfdfe8;
	border-top: none;
	z-index: 999999;
	padding: 0;
	margin: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.dropdown-item {
	cursor: pointer;
	text-align: center;
	height: 40px;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
	min-width: 160px;
	list-style: none;
	font-size: 14px;
	background-color: #fff;
	color: black;
	background-color: #fff;
	border-top: none;
	height: 50px;
	width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown-item:hover {
	background-color: #dfdfe8; 
}
