.ride-entry-fields {
  display: flex;
  justify-items: left;
  border-bottom: 1px solid #dfdfe8;
  width: 100%;
}

.ride-entry-fields > * {
  margin: 15px;
  margin-left: 0;
  width: 200px;
}

.stat-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stat-label h4 {
  font-weight: 350;
  font-size: 17px;
  margin-top: 5px;
}

body {
  background-color: white;
}

.title-header { 
  background-color: white;
  margin-bottom: 0;
}

#clicked-button {
  background-color: bisque;
  border: none;
};

#clicked-button:hover {
  background-color: bisque;
  background: bisque;
  border: none;
  cursor: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: calc(100vh - 110px);
}

fieldset {
  display: inline-block;
}

a {
  color: #007FB6;
}

.date-time-field {
  min-width: 110px;
}

a:hover {
  text-decoration: underline;
}

.form-submit-area {
  margin: 10px;
}

.form-submit-area > * {
  margin: 10px;
}

.rideform-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

#manual-entry {
  width: 100%;
}

.file-input {
  background-color: #fc5200;
  color:white;
  margin-left: 5px;
  border: none;
}

.route-creation-area {
  margin: 30px 0;
  width: 100%;
}

.page-container-map-entry {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 110px);
}

.rideform-form-map {
  width: 45%;
  border: 1px solid #dfdfe8;
  padding: 10px;
  height: 70vh;
  min-height: 670px;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.outer-map-container {
  width: 55%;
  height: 70vh;
  margin-right: 20px;
  min-height: 670px;
}

.map-textarea {
  padding: 10px;
  height: 22px;
}

.stat-entry-bottom {
  width: 100%;
  display: flex;
  align-items: flex-start;
}