#nav-container {
  border-bottom: 1px solid #f0f0f5;
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding-left: 16px;
  padding-right: 16px;
  width: 90%;
  /* margin-right: 200px;
  margin-left: 200px; */
}

#landing-page {
  margin: 50px;
}

.profile-drop-down {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.profile-drop-down > i {
  padding: 10px
}

.profile-drop-down a {
  color: black;
  padding: 10px
}

ul {
  position: relative;
}

#nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-dropdown {
  height: 100%;
  box-sizing: border-box;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.nav-dropdown:hover {
  border-color: #dfdfe8;
}

#add-ride-button {
  border-radius: 50%;
  border: 2px solid #fc5200;
  width: 25px;
  height: 25px;
  color: #fc5200;
  font-size: 20px;
  text-align: center;
  line-height: 0;
  padding: 0;
}

#add-ride-button:hover {
  background-color: #fc5200;
  color: white;
}

.nav-bar-component {
  display: flex;
  align-items: center;
  height: 100%;
}

.top-logo {
  height: 100px;
  width: auto;
}