#nav-container {
  border-bottom: 1px solid #f0f0f5;
  display: flex;
  justify-content: center;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding-left: 16px;
  padding-right: 16px;
  width: 80%;
  /* margin-right: 200px;
  margin-left: 200px; */
}

#landing-page {
  margin: 50px;
}

.profile-drop-down {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.profile-drop-down > i {
  padding: 10px
}

.profile-drop-down a {
  color: black;
  padding: 10px
}

ul {
  position: relative;
  top: 80px;
}