#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 55px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

#nav-bar > * {
  display: inline-block;
}