

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  width: 100%;
  margin: 0px;

}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errors {
  color: #fc5200;
  margin-top: 10px;
}
.errors li {
  margin-top: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

input {
  display: block;
  width: 100%;
  height: 22px;
  margin: 10px;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  border: 1px solid #949494;
  background: rgba(0,0,0,0.5);
  color: #CCC;
  text-align: left;
}

.panel-registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0,0,0,0.75);
  color: #fff;
  margin: 60px auto;
  width: 400px;
  border-radius: 3px;
  display: block;
  font-size: 14px;
  line-height: 18px;
}

.panel-registration button {
  width: 106%;
  margin: 10px;
}

.panel-registration h1 {
  background-color: rgba(0,0,0,0.75);
}







